body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.password-container{
    background-color: lightgrey;
    
    width:500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
}
.input-container{
    border: solid 2px black;
    padding: 10px;
    border-radius: 11px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    
}
#input::placeholder{
    letter-spacing: 0px;
}
.btn{
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin:10px 5px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    transform: scale(.95)
}

.fa-copy {
    position: relative;
    margin-left: 150px;
    cursor: pointer;
    opacity: 0.4;
  }
  
  .fa-copy:hover {
    opacity: 0.7;
  }
  
  
.alert-container{
position:fixed;
width: 300px;
height: 50px;
background-color: lightgreen;
right: 20px;
bottom: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
transition: 0.4s;
}
.active.alert-container{
    right: -300px;
}